*{
	margin:0;
	padding:0;
}
body{
	background:url(../images/dark-triangles.png)repeat fixed 0 0 #fff;
}

.main{
	width:970px;
	margin:0 auto;
	background-color:white;
	overflow:hidden;
	margin-top:20px;
	margin-bottom:20px;
}
.home img{
	height: 60px;
	margin-top: 25px;
	margin-left: 30px;
}
.contact-us{
	height:1000px;
}
.contact{
	line-height:30px;
	text-align:center;
	margin:50px 0;
}
.contact h2 a{
	text-decoration:none;
	font-size: 20px;
	font-weight: normal;

}
.contact h1{
	color:orange;
	font-size:20px;
}

.contact h3{
	font-size: 25px;
	font-weight: bold;
	color:blue;

}
.contact p{}

.view-contact-info{
	margin:0 auto;
}
.view-contact-info h3{
	margin-left:50px;
	font-weight:normal;
	border:1px solid blue;
	width:250px;
	padding:3px;
	background:#EE0BE6;
	text-align:center;
	transition:1s;
}
.view-contact-info h3:hover{
	background:gray;
	color:white;
}
.view-contact-info a{
	text-decoration:none;
	font-family:arrial;
	font-size:20px;
	color:white;
}

.form{
	height:280px;
}
.form h2{
	margin-left:20px;
	margin-bottom:20px;
}
	form{
		padding-bottom:50px;
		
	}
	.contact-form{
		width:50%;
		float:left;
		padding-left:25px;
	}
	.message{
		width:40%;
		float:left;
	}
	.contact-form{
		
	}
	.contact-form input{
		width:70%;
		padding: 13px;
		margin-bottom: 11px;
		
	}
	
	.messege{
		
	}
	.message textarea{
		width:90%;
		
		padding: 16px;
		font-size: 25px;
	}
	
	.message input{
		width: 150px;
		height: 41px;
		padding: 0px;
		margin-top: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.message input:hover{
		background:gray;
		color:#fff;
		border:none;
	}